
  
    .nav-links {
      text-align: center;
      padding: 1rem;
      
      
    }
  
    .nav-links:hover {
      background-color: #ff18b2;
      border-radius: 0;
      text-decoration: none;
      color: inherit;
    }
  
   